<section id="search" class="search-wrap">
    <h1>Find A Coding Job</h1>
    <form action="/jobs/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="job_title" placeholder="Software Developer, Engineering etc...">
      <input type="submit" value="Search">
    </form>